.desktopHeader {
    display: block;
}

.mobileHiddenHeader {
    display: block;
}

@media (max-width: 767px) {
    .mobileHiddenHeader {
        display: none;
    }

    .desktopHeader {
        display: block;
    }
}