.desktopHeader {
    display: block;
}

.mobileHiddenHeader {
    display: block;
}

/* 모바일: 768px 이하 */
@media (max-width: 768px) {
    .mobileHiddenHeader {
        display: none;
    }

    .desktopHeader {
        display: block;
    }

    .mobileHiddenBottomNavigation {
        display: none;
    }
}